<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
  <!--Menu of navigation-->
  <%- include('../partials/nav');  %>

<div class="container n p-10 m-auto">

    <div class="container flex justify-center mx-auto">
      <div class="flex flex-col">
          <div class="w-full">
              <div class="border-b border-gray-200 shadow">
                  <table class="divide-y divide-gray-300 ">
                      <thead class="bg-gray-50">
                          <tr>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    ID
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Nombre
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Apellido
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Nombre de la empresa
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Direccion
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Pais
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Telefono
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Correo
                                </th>
                              <th class="px-6 py-2 text-xs text-gray-500">
                                  Edit
                              </th>
                              <th class="px-6 py-2 text-xs text-gray-500">
                                  Delete
                              </th>
                          </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-300">
                          
                          <% for( let proveedor = 0; proveedor < proveedores.length; proveedor++ ) { %>
                          
                              <tr class="whitespace-nowrap">
                                  <td class="px-6 py-4 text-sm ">
                                    <%=proveedores[proveedor].Id_Prov%>
                                  </td>
                                  <td class="px-6 py-4">
                                      <div class="text-sm ">
                                        <%=proveedores[proveedor].Nombre_Prov%>
                                      </div>
                                  </td>
                                  <td class="px-6 py-4">
                                      <div class="text-sm">
                                        <%=proveedores[proveedor].Apellido_Prov%>
                                      </div>
                                  </td>
                                  <td class="px-6 py-4">
                                    <div class="text-sm">
                                      <%=proveedores[proveedor].Nombre_Empresa_Prov%>
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm">
                                      <%=proveedores[proveedor].Direccion_Prov%>
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm">
                                      <%=proveedores[proveedor].Pais_Prov%>
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm">
                                      <%=proveedores[proveedor].Telefono_Prov%>
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm">
                                      <%=proveedores[proveedor].Correo_Prov%>
                                    </div>
                                </td>
                                  <td class="px-6 py-4">
                                      <a href="#">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400" fill="none"
                                              viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                          </svg>
                                      </a>
                                  </td>
                                  <td class="px-6 py-4">
                                      <a href="#">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-400" fill="none"
                                              viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                          </svg>
                                      </a>
                                  </td>
                              </tr>
  
                          <% } %>

                      </tbody>
                  </table>

                  
              </div>
              <div class="container m-10 text-center ">
              <a href="/proveedor/crear" class="relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" >
                <span class="absolute inset-0 border border-teal-900 group-active:border-teal-900"></span>
                <span class="block px-12 py-3 transition-transform bg-teal-800 border border-teal-800 active:border-teal-800 active:bg-teal-800 group-hover:-translate-x-1 group-hover:-translate-y-1">
                  Crear nuevo proveedor
                </span>
              </a>
            </div>
          </div>
      </div>
    </div>
</div>

    <%- include('../partials/footer2');  %>


</body>
</html>